:root {
    --accent-color: rgb(99, 96, 96);
    /* --font-style: 'Akaya Telivigala', cursive; */
}

body {
    /* padding-left: 2%;
    padding-right: 2%; */
    background-color: rgb(134, 0, 0);
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* max-height: 15%; */
    background: silver;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#heading {
    /* used to help overlap heading images and #name */
    position: relative;
}

#name {
    font-family: var(--font-style);
    /* font-size: 8vw; */
    /* position: relative;
    left: 35%;
    bottom: 26vw; */


    /* testing phase */
    position: absolute;
    top: 37%;
    left: 35%;
    
    text-align: center;
}

#name span {
    font-size: 8vw;
    background: -webkit-linear-gradient(#eee, rgb(170, 92, 92), rgb(134, 0, 67));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#name p {
    font-size: 4vw;
    color: snow;
}

#banner-img {
    grid-area: header;
    max-width: 99%;
    max-height: 500px;
    /* position: relative; */
    margin-top: 12%;
    border-color: black;
    border-width: 8px;
    border-style: solid;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: 3;
    margin-bottom: -40px;
}

#profile-img {
    border-color: snow;
    border-width: 3px;
    border-style: solid;
    width: 15%;
    border-radius: 10px;
    /* position: relative;
    left: 15%;
    bottom: 46vw; */
    /* testing phase */
    position: absolute;
    top: 43%;
    left: 13%;
}

.section {
    background-color: silver;
    border-radius: 15px;
    text-align: center;
    position: relative;
    /*gives space between heading and sections*/
    top: 5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}